.dropdown-container {
  position: relative;
}

.dropdown-toggle {
  padding: 10px;
  cursor: pointer;
  gap: 10px;
  align-items: center;
  height: 42px;
  width: 165px;
  background: #FFF;
  color: #272937;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  display: inline-flex;
  letter-spacing: -0.6px;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.dropdown-toggle:hover {
  background-color: #F2F2F3;
}

.dropdown-list {
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 10px;
  max-height: 122px;
  width: 165px;
  overflow-y: auto;
  border-radius: 8px;
  background: #FFF;
  border: 1px solid rgba(39, 41, 55, 0.12);
  color: #272937;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.6px;
  box-shadow: 0 2px 8px 0 rgba(39, 41, 55, 0.08);
}

.dropdown-list div {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.dropdown-list div:hover {
  background-color: #EAF4FE;
}

.dropdown-toggle {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 8px 0 0 8px;
  border-width: 1px 0 1px 1px;
  border-color: rgba(39, 41, 55, 0.12);
  border-style: solid;
}

.text-center {
  width: 100%;
}
