<div class="base-blur">
  <div class="procedure-type-panel">
    <div class="header">
      <h1>Tipos de Procedimentos</h1>
      <button class="close-button">
        <img ngSrc="assets/images/icons/close-button.svg" alt="Tipo de Procedimento" height="18" width="18">
      </button>
    </div>
    <div class="tools">
      <div class="search-container">
        <img class="search-icon" ngSrc="assets/images/icons/search.svg" alt="Novo Procedimento" height="22" width="22">
        <input class="search" type="search" placeholder="Pesquisar">
      </div>
      <button class="button-add-procedure-type">
        <img ngSrc="assets/images/icons/add.svg" alt="Novo Procedimento" height="22" width="22">
        Incluir Novo Tipo
      </button>
    </div>
    <table *ngIf="false">
      <caption class="sr-only">Descrição da Tabela</caption>
      <thead>
      <tr>
        <th class="name-column">Nome</th>
        <th class="percentage-column">% Lucro</th>
        <th class="options-column">Opções</th>
      </tr>
      </thead>
      <tbody>
        <tr>
          <td class="bold">Procedimento 1</td>
          <td>20,50%</td>
          <td class="actions">
            <button class="edit-button">
              <img ngSrc="assets/images/icons/edit.svg" alt="Editar" width="14" height="14"/>
            </button>
            <button class="delete-button">
              <img ngSrc="assets/images/icons/delete.svg" alt="Excluir" width="14" height="14"/>
            </button>
          </td>
        </tr>
        <tr>
          <td>Procedimento 1</td>
          <td>20,50%</td>
          <td>E - D</td>
        </tr>
        <tr>
          <td>Procedimento 1</td>
          <td>20,50%</td>
          <td>E - D</td>
        </tr>
        <tr>
          <td>Procedimento 1</td>
          <td>20,50%</td>
          <td>E - D</td>
        </tr>
        <tr>
          <td>Procedimento 1</td>
          <td>20,50%</td>
          <td>E - D</td>
        </tr>
        <tr>
          <td>Procedimento 1</td>
          <td>20,50%</td>
          <td>E - D</td>
        </tr>
        <tr>
          <td>Procedimento 1</td>
          <td>20,50%</td>
          <td>E - D</td>
        </tr>
        <tr>
          <td>Procedimento 1</td>
          <td>20,50%</td>
          <td>E - D</td>
        </tr>
      </tbody>
    </table>
    <div class="bottom">
      <div class="pagination" *ngIf="false">
        <button class="previous-button">
          <img ngSrc="assets/images/icons/arrow-left.svg" alt="Próximo" width="30" height="30"/>
          Anterior
        </button>
        <p class="tab">|</p>
        <span>1 de 1</span>
        <p class="tab">|</p>
        <button class="next-button">
          Próximo
          <img ngSrc="assets/images/icons/arrow-right.svg" alt="Anterior" width="30" height="30"/>
        </button>
      </div>
    </div>
    <div class="empty-table" *ngIf="true">
      <img ngSrc="assets/images/icons/empty-list.svg" alt="Tabela vazia" width="100" height="100"/>
      <p class="title">Sem resultados encontrados</p>
      <p class="description">
        Pesquisa não retornou resultados ou ainda não foi adicionado nenhum tipo.<br>
        Comece a criar seus tipo de procedimentos ou faça uma busca mais específica.
      </p>
      <p class="filter">Pesquise por: nome ou porcentagem</p>
    </div>
  </div>
</div>

