<div class="base-blur">
  <div class="procedure-type-panel">
    <div class="header">
      <h1>Tipos de Procedimentos</h1>
      <button class="close-button">
        <img ngSrc="assets/images/icons/close-button.svg" alt="Tipo de Procedimento" height="18" width="18">
      </button>
    </div>
    <div class="tools">
      <div class="search-container">
        <img class="search-icon" ngSrc="assets/images/icons/search.svg" alt="Novo Procedimento" height="22" width="22">
        <input class="search" type="search" placeholder="Pesquisar">
      </div>
      <button class="button-add-procedure-type">
        <img ngSrc="assets/images/icons/add.svg" alt="Novo Procedimento" height="22" width="22">
        Incluir Novo Tipo
      </button>
    </div>
    <div class="procedure-type-table"></div>
  </div>
</div>
