<div class="base-blur">
  <div class="procedure-panel">
    <div class="header">
      <h1>{{ title }}</h1>
      <button class="close-button" (click)="closePanel()">
        <img ngSrc="assets/images/icons/close-button.svg" alt="Novo Procedimento" height="18" width="18">
      </button>
    </div>
    <div class="inputs">
      <div class="container">
        <img class="icon" ngSrc="assets/images/icons/calendar-gray.svg" alt="Novo Procedimento" height="24" width="24">
        <input class="input-date" type="date" [(ngModel)]="procedure.procedureDate" [value]="procedure.procedureDate">
      </div>
      <div class="container">
        <img class="icon" ngSrc="assets/images/icons/costumer.svg" alt="Novo Procedimento" height="24" width="24">
        <input class="input-costumer" type="text" [(ngModel)]="procedure.customer" [value]="procedure.customer" placeholder="Qual o nome do cliente?">
      </div>
      <div class="container">
        <img class="icon" ngSrc="assets/images/icons/tag.svg" alt="Novo Procedimento" height="24" width="24">
        <p class="icon-currency">R$</p>
        <input class="input-value" type="text" [(ngModel)]="procedure.procedureValue" [value]="procedure.procedureValue === 0 ? '' : procedure.procedureValue" placeholder="0,00">
      </div>
      <div>
        <app-procedure-type-dropdown (selectionChange)="handleSelectionChange($event)" [selectedProcedureTypeName]="procedure.procedureTypeName"></app-procedure-type-dropdown>
      </div>
    </div>
    <button class="update-button" (click)="sendProcedureToUpdate()" [disabled]="isProcedureValid()">{{ buttonTitle }}</button>
  </div>
</div>
