<div class="base-blur">
  <div class="edit-panel">
    <div class="header">
      <h1>{{ title }}</h1>
      <button class="close-button" (click)="closePanel()">
        <img ngSrc="assets/images/icons/close-button.svg" alt="Novo Procedimento" height="18" width="18">
      </button>
    </div>
    <div class="inputs">
      <div class="container">
        <img class="icon" ngSrc="assets/images/icons/calendar-gray.svg" alt="Novo Procedimento" height="24" width="24">
        <input class="input-date" type="date" value="{{ procedure?.procedureDate }}">
      </div>
      <div class="container">
        <img class="icon" ngSrc="assets/images/icons/costumer.svg" alt="Novo Procedimento" height="24" width="24">
        <input class="input-costumer" type="text" value="{{ procedure?.customer }}" placeholder="Qual o nome do cliente?">
      </div>
      <div class="container">
        <img class="icon" ngSrc="assets/images/icons/tag.svg" alt="Novo Procedimento" height="24" width="24">
        <input class="input-value" type="text" value="{{ procedure?.procedureValue | currency:'BRL':'symbol':'1.2-2' }}" placeholder="0,00">
      </div>
      <div class="container">
        <img class="icon" ngSrc="assets/images/icons/list-gray.svg" alt="Novo Procedimento" height="24" width="24">
        <input class="input-procedure-type" type="text" value="{{ procedure?.procedureTypeName }}" placeholder="Tipo de Procedimento">
      </div>
    </div>
    <button class="update-button">{{ buttonTitle }}</button>
  </div>
</div>
