<!--Painel de confirmarção de exclusão do procedimento -->
<app-delete-panel *ngIf="isDeletePanelOpen" (confirm)="confirmDeleteProcedureAction()" (cancel)="closeDeletePanel()"></app-delete-panel>

<!--Painel de edição do procedimento -->
<app-procedure-panel *ngIf="isProcedurePanelOpen" [isAddFlow]="false" [title]="'Novo Procedimento'" [buttonTitle]="'Adicionar'" (close)="closeProcedurePanel()"></app-procedure-panel>

<table *ngIf="procedureList.length != 0">
  <caption class="sr-only">Descrição da Tabela</caption>
  <thead>
    <tr>
      <th class="date-column">Data Procedimento</th>
      <th class="costumer-column">Cliente</th>
      <th class="procedure-column">Procedimento</th>
      <th class="value-column">R$ Valor Procedimento</th>
      <th class="received-column">R$ Valor Recebido</th>
      <th class="tools-column">Opções</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let procedure of paginatedItems">
      <td>{{ procedure.procedureDate | date:'dd/MM/yyyy' }}</td>
      <td class="bold">{{ procedure.customer }}</td>
      <td>{{ procedure.procedureTypeName }}</td>
      <td>{{ procedure.procedureValue | currency:'BRL':'symbol':'1.2-2' }}</td>
      <td>{{ procedure.valueReceived | currency:'BRL':'symbol':'1.2-2' }}</td>
      <td class="actions">
        <button class="edit-button" (click)="setProcedureToEditAndStartPanel(procedure)">
          <img ngSrc="assets/images/icons/edit-procedure.svg" alt="Editar procedimento" width="14" height="14"/>
        </button>
        <button class="delete-button" (click)="setProcedureToDeleteAndStartPanel(procedure)">
          <img ngSrc="assets/images/icons/delete-procedure.svg" alt="Excluir procedimento" width="14" height="14"/>
        </button>
      </td>
    </tr>
  </tbody>
</table>
<div class="pagination" *ngIf="procedureList.length != 0">
  <button class="previous-button" (click)="onPageChange(currentPage - 1)" [disabled]="isFirstPage()">
    <img ngSrc="assets/images/icons/arrow-left.svg" alt="Próximo" width="30" height="30"/>
    Anterior
  </button>
  <p class="tab">|</p>
  <span>{{ currentPage }} de {{ math.ceil(procedureList.length / itemsPerPage) }}</span>
  <p class="tab">|</p>
  <button class="next-button" (click)="onPageChange(currentPage + 1)" [disabled]="isLastPage()">
    Próximo
    <img ngSrc="assets/images/icons/arrow-right.svg" alt="Anterior" width="30" height="30"/>
  </button>
</div>
<div class="empty-table" *ngIf="procedureList.length == 0">
  <img ngSrc="assets/images/icons/empty-list.svg" alt="Anterior" width="100" height="100"/>
  <p class="title">Sem resultados encontrados</p>
  <p class="description">
    Sem resultados para este período/pesquisa selecionado.<br>
    Comece a criar seus procedimentos ou faça uma busca mais específica dos procedimentos.
  </p>
  <p class="filter">Pesquise por: data, nome cliente, tipo de procedimento ou valor recebido</p>
</div>
