.date-column {
  width: 174px;
}

.costumer-column {
  width: 358px;
}

.procedure-column {
  width: 270px;
}

.value-column {
  width: 200px;
}

.received-column {
  width: 200px;
}

.tools-column {
  width: 94px;
}

table {
  width: 100%;
  background: #FFF;
  border-spacing:0;
  margin-bottom: 24px;
  border: 1px solid #E5E5E7;
  border-radius: 10px;
  overflow: hidden;
}

th, td {
  height: 44px;
  padding: 10px 14px;
  text-align: left;
  border: 1px none #E5E5E7;
  border-top-style: solid;
}

th {
  color: #272937;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.1px;
  border-top: none;
}

td {
  color: #272937;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.1px;
}

tbody > tr {
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

tbody > tr:hover {
  background-color: #EAF4FE;
}

tr:last-child td {
  border-bottom: none;
}

.pagination {
  height: 40px;
  color: #272937;
  text-align: right;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid rgba(39, 41, 55, 0.12);
  background: #FFF;
  padding-right: 5px;
  padding-left: 5px;
  float: right;
  margin-bottom: 48px;
}

.pagination > button {
  border: none;
  background-color: transparent;
  display: inline-flex;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  align-items: center;
  border-radius: 4px;
  height: 30px;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.pagination > button:disabled:hover {
  cursor: not-allowed;
  background-color: #FFF;
}

.previous-button {
  padding-right: 12px;
}

.next-button {
  padding-left: 12px;
}

.pagination > button:hover {
  background-color: #F2F2F3;
}

.bold {
  font-weight: 500;
}

.tab {
  color: rgba(39, 41, 55, 0.12);
}

.actions {
  width: 100%;
  display: inline-flex;
  gap: 10px;
}

.edit-button, .delete-button {
  width: 25px;
  height: 25px;
  background-color: #F2F2F3;
  border-radius: 50%;
  border: none;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.edit-button > img, .delete-button > img {
  margin-top: 2px;
}

.edit-button:hover, .delete-button:hover {
  background-color: #c9c9c9;
}

.sr-only {
  position: absolute;
  left: -9999px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
