<div class="dropdown-container">
  <div class="dropdown-toggle" (click)="toggleDropdown()">
    <img ngSrc="assets/images/icons/list-gray.svg" alt="Novo Procedimento" height="24" width="24">
    <span class="text-center">{{ selectedItemText }}</span>
    <img ngSrc="assets/images/icons/dropdown-gray.svg" alt="Novo Procedimento" height="24" width="24">
  </div>
  <div *ngIf="isOpen" class="dropdown-list">
    <div *ngFor="let item of procedureTypes" (click)="selectItem(item)">{{ item.name }}</div>
  </div>
</div>
