<!--Painel de adição do procedimento -->
<app-procedure-panel *ngIf="isProcedurePanelOpen" [isAddFlow]="true" [title]="'Editar Procedimento'" [buttonTitle]="'Salvar Edição'" (close)="closeProcedurePanel()"></app-procedure-panel>

<div class="tools">
  <div class="actions">
    <app-procedure-dropdown></app-procedure-dropdown>
    <button class="button-procedures-type">
      <img ngSrc="assets/images/icons/list.svg" alt="Novo Procedimento" height="22" width="22">
      Tipos de Procedimentos
    </button>
    <button class="button-send">
      <img ngSrc="assets/images/icons/email-black.svg" alt="Novo Procedimento" height="22" width="22">
      Enviar
    </button>
    <button class="button-download">
      <img ngSrc="assets/images/icons/download.svg" alt="Novo Procedimento" height="22" width="22">
      Baixar
    </button>
  </div>
  <div class="space"></div>
  <div class="search-container">
    <img class="search-icon" ngSrc="assets/images/icons/search.svg" alt="Novo Procedimento" height="22" width="22">
    <input class="search" type="search" placeholder="Pesquisar">
  </div>
  <button class="button-add-procedure" (click)="newProcedureToAddAndStartPanel()">
    <img ngSrc="assets/images/icons/add.svg" alt="Novo Procedimento" height="22" width="22">
    Novo Procedimento
  </button>
</div>
