<div class="summary">
  <div class="areas">
    <p class="description">Média do mês (valor)</p>
    <p class="values">R$ 2.500,00</p>
    <div class="info">
      <img ngSrc="" alt="Média do mês (valor)" height="20" width="20">
      <p class="info-dynamic">+R$ 210,00</p>
      <p class="info-static">que Janeiro</p>
    </div>
  </div>
  <div class="vertical-line"></div>
  <div class="areas">
    <p class="description">Média do mês (procedimento)</p>
    <p class="values">R$ 2.500,00</p>
    <div class="info">
      <img ngSrc="" alt="Média do mês (procedimento)" height="20" width="20">
      <p class="info-dynamic">+R$ 210,00</p>
      <p class="info-static">que Janeiro</p>
    </div>
  </div>
  <div class="vertical-line"></div>
  <div class="areas">
    <p class="description">Total de procedimentos</p>
    <p class="values">R$ 2.500,00</p>
    <div class="info">
      <img ngSrc="" alt="Total de procedimentos" height="20" width="20">
      <p class="info-dynamic">+R$ 210,00</p>
      <p class="info-static">que Janeiro</p>
    </div>
  </div>
  <div class="vertical-line"></div>
  <div class="areas">
    <p class="description">Total a receber</p>
    <p class="values">R$ 100.000,00</p>
    <div class="info">
      <img ngSrc="" alt="Total a receber" height="20" width="20">
      <p class="info-dynamic">+R$ 20.800,50</p>
      <p class="info-static">que Janeiro</p>
    </div>
  </div>
</div>
